<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
<body>
    <%- include('layouts/navbar') %>

    <h1>About</h1>
    <p>This is the about page.</p>

    <%- include('layouts/footer') %>
    <%- include('layouts/scripts') %>
</body>
</html>